#map {
  width: 75%;
  height: 100%;
  max-width: 960px;
  position: relative;

  svg{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .state{
    fill: rgba(#fff,0);
    stroke: rgba(#324C59, 0.6);
    cursor: pointer;
    &:hover{
      stroke-width: 2px;
      stroke: #4AC3F1;
    }
  }

  .district {
    fill: #EAE6DC;
    stroke: #C5BFA6;
  }

  rect {
    fill: #CDE4E9;
  }
}
